.github
.idea
coverage
data
reports
src

.editorconfig
.eslintrc
.gitattributes
.gitignore
.npmignore
.prettierrc
jest.config.json
release.config.js
renovate.json
tsconfig*.json
*/**/*.js.map
*/**/*.tsbuildinfo
*.tgz
